:root {
  --banner-color: #F55A5A;
  --text-color: #2B283A;
  --map-link-color: #918E9B;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  margin-bottom: 45px;
  background-color: var(--banner-color);
  color: #FFFFFF;
  font-size: 14.5px;
  font-weight: 500;
}

.icon--earth {
  margin-right: 0.5rem;
  font-size: 24px;
}

section {
  padding: 0 40px;
}

.card {
  height: 168px;
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.card--pic {
  display: block;
  width: 125px;
}

.desc--container {
  width: 100%;
  padding-block: 40px;
  margin-left: 20px;
  font-size: 10.24px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.desc--location {
  letter-spacing: 3px;
}

.location--link {
  letter-spacing: normal;
}

.location--link > a {
  padding-left: 0.6rem;
  color: var(--map-link-color);
}

.icon--location {
  color: var(--banner-color);
}

.desc--title {
  font-size: 25px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.desc--duration {
  font-weight: 700;
}